@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition-property: background-color, fill;
  transition-duration: 500ms;
}

@layer components {
  .input-form {
    @apply  p-2 rounded-lg resize-none text-xs font-medium text-light dark:text-dark placeholder:text-light dark:placeholder:text-dark bg-main outline-none
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: theme(colors.main);
  border-radius: 4px;
}
